In [1]:
import findspark

findspark.init()

findspark.find()

'C:\\spark-3.5.1-bin-hadoop3'

In [19]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_replace, to_date

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [13]:
df1=spark.read.csv('customer_demographic_modified.csv',header=True, inferSchema=True)

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import re
from datetime import datetime

In [54]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
from datetime import datetime

spark = SparkSession.builder.appName("DateConversion").getOrCreate()

df1= spark.read.csv('customer_demographic_modified.csv', header=True, inferSchema=True)

def convert_date_format(date_str):

    date_formats = [
        "%Y/%m/%d",
        "%Y/%B/%d",
        "%Y/%b/%d",
        "%d-%m-%Y",
        "%d/%m/%Y"
    ]

    for fmt in date_formats:
        try:
            date_obj = datetime.strptime(date_str, fmt)
            return date_obj.strftime("%d/%m/%Y")
        except ValueError:
            pass

    return date_str

convert_date_format_udf = udf(convert_date_format, StringType())

df1_cleaned = df1.withColumn("Birth date", convert_date_format_udf(col("Birth date")))

df1_cleaned.show()

+----------+------+----------+------+----------+-----------------------+--------------+--------+
|      CSID|Income|dependants|Gender|Birth date|Relationship Start date|Marital_Status|Zip_Code|
+----------+------+----------+------+----------+-----------------------+--------------+--------+
|2345450601|200000|         3|     ?|03/08/1976|               8/6/2017|      Divorced|CH42 0HS|
|2345450602|100000|         2|     ?|28/11/1963|               8/3/1983|      Divorced|ME20 6PR|
|2345450603|280000|         2|     ?|05/06/1979|               1/9/2008|       Married|OX17 1EQ|
|2345450604|300000|         1|     ?|09/05/1999|             10/12/2020|      Divorced| RH7 6LT|
|2345450605|150000|         1|  Male|31/03/2004|               6/3/2011|       Married| NW2 7RJ|
|2345450606|100000|         3|     ?|18/02/1987|             17-12-2002|        Single| TQ1 3PZ|
|2345450607|130000|         2|     M|09/12/1961|             27-11-1983|      Divorced| LU6 3NP|
|2345450608|130000|         1|Female|23/02/1978|             15-11-1994|       Married|DA14 6NY|
|2345450609|235000|         3|     F|02/02/1967|             29-08-1996|        Single|RH16 2QL|
|2345450610|300000|         3|Female|13/03/1988|             25-04-2011|       Married|PO37 6EG|
|2345450611|200000|         2|     ?|10/09/1975|               1/8/1997|      Divorced|BB11 4HW|
|2345450612|250000|         2|Female|12/08/1992|             18-01-2000|        Single| TN4 9JU|
|2345450613|200000|         0|Female|17/09/1988|             26-06-2017|       Widowed|SA67 8QB|
|2345450614|500000|         2|  Male|11/09/1982|               3/5/2003|       Married| TA1 4XD|
|2345450615|120000|         0|  Male|13/01/1991|             18-09-2022|        Single|WF12 8AZ|
|2345450616|150000|         1|     ?|24/12/1963|             30-12-1987|       Married| WA8 9UF|
|2345450617|150000|         0|Female|10/02/1989|             14-12-2011|        Single|  B2 4DU|
|2345450618|300000|         0|     ?|11/11/1992|             28-02-2013|       Married| LA4 6DA|
|2345450619|150000|         2|     ?|27/10/1992|             18-08-2004|       Married| SN3 6DR|
|2345450620|250000|         3|     ?|27/10/1992|             26-03-1994|       Married|ME15 8BW|
+----------+------+----------+------+----------+-----------------------+--------------+--------+
only showing top 20 rows

In [57]:
def standardize_gender(gender):
    gender_map = {
        "F": "Female",
        "M": "Male",
        "?": "Not specified",
        "": "Not specified",
        "Male": "Male",
        "Female": "Female"
    }
    return gender_map.get(gender, gender)

standardize_gender_udf = udf(standardize_gender, StringType())

df1_cleaned = df1_cleaned.withColumn("Gender", standardize_gender_udf(col("Gender")))


df1_cleaned.show()

+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
|      CSID|Income|dependants|       Gender|Birth date|Relationship Start date|Marital_Status|Zip_Code|
+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
|2345450601|200000|         3|Not specified|03/08/1976|             08/06/2017|      Divorced|CH42 0HS|
|2345450602|100000|         2|Not specified|28/11/1963|             08/03/1983|      Divorced|ME20 6PR|
|2345450603|280000|         2|Not specified|05/06/1979|             01/09/2008|       Married|OX17 1EQ|
|2345450604|300000|         1|Not specified|09/05/1999|             10/12/2020|      Divorced| RH7 6LT|
|2345450605|150000|         1|         Male|31/03/2004|             06/03/2011|       Married| NW2 7RJ|
|2345450606|100000|         3|Not specified|18/02/1987|             17/12/2002|        Single| TQ1 3PZ|
|2345450607|130000|         2|         Male|09/12/1961|             27/11/1983|      Divorced| LU6 3NP|
|2345450608|130000|         1|       Female|23/02/1978|             15/11/1994|       Married|DA14 6NY|
|2345450609|235000|         3|       Female|02/02/1967|             29/08/1996|        Single|RH16 2QL|
|2345450610|300000|         3|       Female|13/03/1988|             25/04/2011|       Married|PO37 6EG|
|2345450611|200000|         2|Not specified|10/09/1975|             01/08/1997|      Divorced|BB11 4HW|
|2345450612|250000|         2|       Female|12/08/1992|             18/01/2000|        Single| TN4 9JU|
|2345450613|200000|         0|       Female|17/09/1988|             26/06/2017|       Widowed|SA67 8QB|
|2345450614|500000|         2|         Male|11/09/1982|             03/05/2003|       Married| TA1 4XD|
|2345450615|120000|         0|         Male|13/01/1991|             18/09/2022|        Single|WF12 8AZ|
|2345450616|150000|         1|Not specified|24/12/1963|             30/12/1987|       Married| WA8 9UF|
|2345450617|150000|         0|       Female|10/02/1989|             14/12/2011|        Single|  B2 4DU|
|2345450618|300000|         0|Not specified|11/11/1992|             28/02/2013|       Married| LA4 6DA|
|2345450619|150000|         2|Not specified|27/10/1992|             18/08/2004|       Married| SN3 6DR|
|2345450620|250000|         3|Not specified|27/10/1992|             26/03/1994|       Married|ME15 8BW|
+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
only showing top 20 rows

In [56]:
def convert_date_format(date_str):

    date_formats = [
        "%Y/%m/%d",
        "%Y/%B/%d",
        "%Y/%b/%d",
        "%d-%m-%Y",
        "%d/%m/%Y"
    ]

    for fmt in date_formats:
        try:
            date_obj = datetime.strptime(date_str, fmt)
            return date_obj.strftime("%d/%m/%Y")
        except ValueError:
            pass

    return date_str

convert_date_format_udf = udf(convert_date_format, StringType())

df1_cleaned = df1_cleaned.withColumn("Relationship Start date", convert_date_format_udf(col("Relationship Start date")))

df1_cleaned.show()

+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
|      CSID|Income|dependants|       Gender|Birth date|Relationship Start date|Marital_Status|Zip_Code|
+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
|2345450601|200000|         3|Not specified|03/08/1976|             08/06/2017|      Divorced|CH42 0HS|
|2345450602|100000|         2|Not specified|28/11/1963|             08/03/1983|      Divorced|ME20 6PR|
|2345450603|280000|         2|Not specified|05/06/1979|             01/09/2008|       Married|OX17 1EQ|
|2345450604|300000|         1|Not specified|09/05/1999|             10/12/2020|      Divorced| RH7 6LT|
|2345450605|150000|         1|         Male|31/03/2004|             06/03/2011|       Married| NW2 7RJ|
|2345450606|100000|         3|Not specified|18/02/1987|             17/12/2002|        Single| TQ1 3PZ|
|2345450607|130000|         2|         Male|09/12/1961|             27/11/1983|      Divorced| LU6 3NP|
|2345450608|130000|         1|       Female|23/02/1978|             15/11/1994|       Married|DA14 6NY|
|2345450609|235000|         3|       Female|02/02/1967|             29/08/1996|        Single|RH16 2QL|
|2345450610|300000|         3|       Female|13/03/1988|             25/04/2011|       Married|PO37 6EG|
|2345450611|200000|         2|Not specified|10/09/1975|             01/08/1997|      Divorced|BB11 4HW|
|2345450612|250000|         2|       Female|12/08/1992|             18/01/2000|        Single| TN4 9JU|
|2345450613|200000|         0|       Female|17/09/1988|             26/06/2017|       Widowed|SA67 8QB|
|2345450614|500000|         2|         Male|11/09/1982|             03/05/2003|       Married| TA1 4XD|
|2345450615|120000|         0|         Male|13/01/1991|             18/09/2022|        Single|WF12 8AZ|
|2345450616|150000|         1|Not specified|24/12/1963|             30/12/1987|       Married| WA8 9UF|
|2345450617|150000|         0|       Female|10/02/1989|             14/12/2011|        Single|  B2 4DU|
|2345450618|300000|         0|Not specified|11/11/1992|             28/02/2013|       Married| LA4 6DA|
|2345450619|150000|         2|Not specified|27/10/1992|             18/08/2004|       Married| SN3 6DR|
|2345450620|250000|         3|Not specified|27/10/1992|             26/03/1994|       Married|ME15 8BW|
+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
only showing top 20 rows

In [58]:
# data 2 -df2 - customer channel

In [64]:
df2=spark.read.csv('Customer_Channel_Activity_modified.csv',header=True, inferSchema=True)

In [65]:
df2.show(5)

+----------+---------+------------+---------------+
|      CSID|  Channel|ActivityDate|   ActivityType|
+----------+---------+------------+---------------+
|2345450601|Telephone|  2022-05-28|Account Opening|
|2345450611|      App|  1987-05-21|Account Opening|
|2345450616|   Branch|  01/05/2024|Account Opening|
|2345450635|      App|  17/01/2022|Account Opening|
|2345450637|      App|  18/11/2023|Account Opening|
+----------+---------+------------+---------------+
only showing top 5 rows

In [71]:
df1_cleaned.show(5)

+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
|      CSID|Income|dependants|       Gender|Birth date|Relationship Start date|Marital_Status|Zip_Code|
+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
|2345450601|200000|         3|Not specified|03/08/1976|             08/06/2017|      Divorced|CH42 0HS|
|2345450602|100000|         2|Not specified|28/11/1963|             08/03/1983|      Divorced|ME20 6PR|
|2345450603|280000|         2|Not specified|05/06/1979|             01/09/2008|       Married|OX17 1EQ|
|2345450604|300000|         1|Not specified|09/05/1999|             10/12/2020|      Divorced| RH7 6LT|
|2345450605|150000|         1|         Male|31/03/2004|             06/03/2011|       Married| NW2 7RJ|
+----------+------+----------+-------------+----------+-----------------------+--------------+--------+
only showing top 5 rows

In [74]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\akash\anaconda3\envs\pyspark\lib\site-packages (2.0.3)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akash\anaconda3\envs\pyspark\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\akash\anaconda3\envs\pyspark\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\akash\anaconda3\envs\pyspark\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\akash\anaconda3\envs\pyspark\lib\site-packages (from pandas) (1.24.4)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: six>=1.5 in c:\users\akash\anaconda3\envs\pyspark\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.9 kB 393.8 kB/s eta 0:00:01
   ---------------------------------- ----- 215.0/250.9 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.5 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [78]:
df1_cleaned_pandas = df1_cleaned.toPandas()

In [80]:
df1_cleaned_pandas.to_csv('C:/Users/akash/Documents/Final task/cleaned_dataset/customer_demographic_cleaned.csv', index=False)

In [87]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
from datetime import datetime

spark = SparkSession.builder.appName("DateConversion").getOrCreate()

df= spark.read.csv('Customer_Channel_Activity_modified.csv', header=True, inferSchema=True)

def convert_date_format(date_str):
    date_formats = [
        "%Y-%m-%d",
        "%d/%m/%Y",
        "%m/%d/%Y",
        "%Y/%m/%d",
        "%d-%m-%Y",
        "%m-%d-%Y",
        "%d %B %Y"
    ]
    
    for fmt in date_formats:
        try:
            date_obj = datetime.strptime(date_str, fmt)
            return date_obj.strftime("%d/%m/%Y")
        except ValueError:
            pass
    
    return date_str

convert_date_format_udf = udf(convert_date_format, StringType())

df_cleaned = df.withColumn("ActivityDate", convert_date_format_udf(col("ActivityDate")))

# Show the cleaned DataFrame
df_cleaned.show()

+----------+---------+------------+---------------+
|      CSID|  Channel|ActivityDate|   ActivityType|
+----------+---------+------------+---------------+
|2345450601|Telephone|  28/05/2022|Account Opening|
|2345450611|      App|  21/05/1987|Account Opening|
|2345450616|   Branch|  01/05/2024|Account Opening|
|2345450635|      App|  17/01/2022|Account Opening|
|2345450637|      App|  18/11/2023|Account Opening|
|2345450640|Telephone|  19/08/2009|Account Opening|
|2345450641|   Online|  05/01/2017|Account Opening|
|2345450643|Telephone|  10/04/2024|Account Opening|
|2345450645|   Online|  01/04/2009|Account Opening|
|2345450647|Telephone|  05/05/2006|Account Opening|
|2345450652|   Branch|  17/08/2007|Account Opening|
|2345450657|      App|  20/03/2020|Account Opening|
|2345450658|Telephone|  19/02/2010|Account Opening|
|2345450664|   Online|  07/01/2014|Account Opening|
|2345450667|Telephone|  11/10/2016|Account Opening|
|2345450671|   Branch|  29/07/2017|Account Opening|
|2345450672|   Online|  15/08/2023|Account Opening|
|2345450684|   Branch|  04/05/2019|Account Opening|
|2345450698|   Branch|  09/12/2013|Account Opening|
|2345450699|   Online|  24/03/2018|Account Opening|
+----------+---------+------------+---------------+
only showing top 20 rows

In [ ]:
df_cleaned_pandas.to_csv('C:/Users/akash/Documents/Final task/cleaned_dataset/Customer_Channel_Activity_modified.csv', index=False)